{% extends 'base.html' %}

{% block content %}   
<header>
    {% include 'pages/navbar.html'%}
</header>

<main>
    <section class="min-h-screen flex justify-center items-center -mt-8">
        <article>
            <h1 class="text-2xl md:text-4xl 2xl:text-5xl font-bold">Hi,</h1>
            <h1 class="text-3xl md:text-5xl 2xl:text-6xl font-bold">I'm 
                <!-- <span class="bg-cyan-300 dark:bg-clip-text dark:text-transparent">AL</span>! -->
                <span class="bg-gradient-to-r from-cyan-300 to-red-300 dark:bg-clip-text dark:text-transparent">AL</span>!

            </h1>
            <p class="mt-4 md:text-lg 2xl:text-xl">Fresh-Graduate from Computer Engineering ITS and a Software Engineer</p>
            <div class="mt-8 flex flex-wrap gap-4 font-bold">
                <a class="px-4 py-2 border rounded hover:scale-[1.05] duration-300 shadow-lg hover:shadow-red-300 hover:dark:shadow-red-300 border-cyan-300 bg-gradient-to-r from-cyan-300 to-red-300 dark:text-black" href="">View my CV</a>
                <a class="px-4 py-2 border rounded hover:scale-[1.05] duration-300 shadow-lg hover:shadow-cyan-300 border-zinc-400" href="">More about me</a>
                </button></a>
            </div>
        </article>
    </section>

    <section class="text-black min-h-screen  flex justify-center items-center" id="prev-projects">
        <article class="px-20 py-10 bg-gradient-to-r from-cyan-300  to-red-300 ">
                <h2 class="text-2xl md:text-4xl font-bold">My Previous Projects</h2>
                <ul class="grid xl:grid-cols-3 mt-8 gap-4">

                    <li class="group border border-zinc-600 rounded hover:bg-zinc-50 hover:text-black hover:dark:bg-zinc-800 hover:dark:text-white hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu transition duration-300 hover:shadow-2xl hover:shadow-zinc-600 hover:dark:shadow-black">
                        <a class="" href="#prev-projects">
                            <img class="w-full h-44 border-b border-b-zinc-600 group-hover:dark:border-zinc-300" src="proj-1st-mcrs.png" alt="img">
                            <div class="py-3 px-6">
                                <span class="font-bold group-hover:bg-gradient-to-r from-cyan-300 to-red-300 group-hover:dark:text-transparent group-hover:dark:bg-clip-text">Music Recommender System</span>
                                <p class="mt-2">
                                A personalized music recommender based on Hybrid Collaborative Filtering using Tensorflow, integrated into Metaverse via Unreal Engine 5 (UE5).
                                </p>
                                <p class="mt-4 group-hover:underline duration-150">
                                    Read more →
                                </p>
                            </div>
                        </a>
                    </li>


                    <li class="group border border-zinc-600 rounded hover:bg-zinc-50 hover:text-black hover:dark:bg-zinc-800 hover:dark:text-white hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu transition duration-300 hover:shadow-2xl hover:shadow-zinc-600 hover:dark:shadow-black">
                        <a class="" href="#prev-projects">
                            <img class="w-full h-44 border-b border-b-zinc-600 group-hover:dark:border-zinc-300" src="proj-1st-mcrs.png" alt="img">
                            <div class="py-3 px-6">
                                <span class="font-bold group-hover:bg-gradient-to-r from-cyan-300 to-red-300 group-hover:dark:text-transparent group-hover:dark:bg-clip-text">Metaverse Env. For Music Recommender System</span>
                                <p class="mt-2">
                                    A virtual environment made in conjunction with Music Recommender System to achieve interoperability between machine learning & UE5.
                                </p>
                                <p class="mt-4 group-hover:underline duration-150">
                                    Read more →
                                </p>
                            </div>
                        </a>
                    </li>

                    <li class="group border border-zinc-600 rounded hover:bg-zinc-50 hover:text-black hover:dark:bg-zinc-800 hover:dark:text-white hover:scale-[1.02] active:scale-[0.97] motion-safe:transform-gpu transition duration-300 hover:shadow-2xl hover:shadow-zinc-600 hover:dark:shadow-black">
                        <a class="" href="#prev-projects">
                            <img class="w-full h-44 border-b border-b-zinc-600 group-hover:dark:border-zinc-300" src="proj-1st-mcrs.png" alt="img">
                            <div class="py-3 px-6">
                                <span class="font-bold group-hover:bg-gradient-to-r from-cyan-300 to-red-300 group-hover:dark:text-transparent group-hover:dark:bg-clip-text">Validin: KTP Validation with Cloud Vision OCR</span>
                                <p class="mt-2">
                                    A mobile app that enables users to automatically validate & fill-in form of a KTP with just a single screenshot from any mobile device.
                                </p>
                                <p class="mt-4 group-hover:underline duration-150">
                                    Read more →
                                </p>
                            </div>
                        </a>
                    </li>

                </ul>
        </article>
    </section>

    <section class="min-h-screen">

    </section>

    <section class="bg-cyan-300 text-black">
        <article class="px-20 py-10">
            <h2 class="text-2xl md:text-4xl font-bold">My Previous Projects</h1>
                <ul class="grid xl:grid-cols-3  mt-4 gap-4">
                    <li class="border border-black rounded hover:bg-zinc-800 hover:text-white">
                        <a class="" href="#prev-projects">
                            <img class="" src="proj-1st-mcrs.png" alt="img">
                            <div class="p-4">
                                <h4 class="font-bold">Music Recommender System</h4>
                                <p class="mt-2">
                                A personalized music recommender based on Hybrid Collaborative Filtering using Tensorflow, integrated into Metaverse via UE5.
                                </p>
                                <p class="mt-4">
                                    Read more →
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="border border-black rounded">Metaverse Env. For Music Recommender System</li>
                    <li class="border border-black rounded">Validin: KTP Validation with Cloud Vision OCR</li>
                </ul>
        </article>
    </section>
</main>
        <!-- <div class="flex justify-center items-center p-4 text-black dark:text-white bg-white dark:bg-zinc-700 h-screen">
            <h1 class="text-4xl font-bold"> Hi!</h1>
            <h1 class="text-4xl font-bold">I'm
                <span class="bg-cyan-300 dark:text-white dark:bg-yellow-300">AL!</span>
            </h1>
        </div> -->

{% endblock content %}