<nav class="flex items-center justify-between h-16 px-4 text-black transition-shadow border-white shadow-md bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:border-b"
            >

    <ul class="flex font-semibold">
        <li class="px-4">
            <a href="#" class="duration-300 hover:bg-gradient-to-r from-cyan-300 to-red-300 hover:dark:text-transparent hover:dark:bg-clip-text">
                HOME
            </a>
        </li>

        <li class="px-4">
            <a href="#about" class="duration-300 hover:bg-gradient-to-r from-cyan-300 to-red-300 hover:dark:text-transparent hover:dark:bg-clip-text">
                ABOUT ME
            </a>
        </li>

        <li class="px-4">
            <a href="#past-projects" class="duration-300 hover:bg-gradient-to-r from-cyan-300 to-red-300 hover:dark:text-transparent hover:dark:bg-clip-text">
                PROJECTS
            </a> 
        </li>

        <li class="px-4">
            <a href="#footer" class="duration-300 hover:bg-gradient-to-r from-cyan-300 to-red-300 hover:dark:text-transparent hover:dark:bg-clip-text">
                CONTACT
            </a> 
        </li>
    </ul>

    <div>        
        <a href="{% url 'change-theme' %}" class="px-4 py-2 duration-300 border shadow-inner bg-zinc-50 dark:bg-zinc-800 dark:border-none hover:bg-gradient-to-r from-cyan-300 to-red-300 rounded-xl">
                                                    
            {% if is_dark_theme %}
                <i class="w-4 fa-solid fa-sun"></i>
            {% else %}
                <i class="w-4 fa-solid fa-moon"></i>
            {% endif %}
        </a>
    </div>
</nav>